<% include header %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include navigation %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Kategori Menu</h3>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        <% include footer %>
      </div>
    </div>
    <% include script %>
  </body>
</html>