<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">      
      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <div class="profile clearfix">        
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>John Doe</h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a href="/homeingredients"><i class="fa fa-home"></i> Data Bahan </a>
              
            </li>
            <li><a href="/homecategory"><i class="fa fa-edit"></i> Data Kategori</a>
            
            </li>
            <li><a href="/homeresep"><i class="fa fa-desktop"></i> Data Resep</a>
              
            </li>
            <li><a href="/home"><i class="fa fa-table"></i> Daftar Kategori Makanan </a>
              
            </li>
            
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

            
    </div>
  </div>

  <!-- top navigation -->
  <div class="top_nav">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              John Doe
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">              
              <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <!-- /top navigation -->