<% include ../layouts/header %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include ../layouts/navigation %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">            
            <div class="clearfix"></div>
            <div class="row">              
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Data Category</h2>
                      <div class="nav navbar-right panel_toolbox">
                        <button id="btnadd" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" >Add Category</button>                                        
                      </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>User Creator</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <%let a = 1;%>
                        <% for(var i=0; i < JSON.stringify(category[0].dataoutput.length);i++){ %>
                            <tr>
                                <td><%=a++%></td>
                                <td><%=category[0].dataoutput[i].Category_name%></td>
                                <td><%=category[0].dataoutput[i].Username%></td>
                                <td>
                                    <!-- <a class="btn btn-info btn-xs" id="<%= category[0].dataoutput[i].Id %>" title="Edit">							
                                      <i class="fa fa-pencil"></i>			
                                    </a>
                                    <a class="btn btn-danger btn-xs" title="Delete" id="<%= category[0].dataoutput[i].Id %>">							
                                      <i class="fa fa-trash-o"></i>			
                                    </a> -->
                                    <button id="<%=category[0].dataoutput[i].Id%>" type="submit" class="btn btn-info" onclick="editCategory(this.id)">Edit</button>
                                    <button id="<%=category[0].dataoutput[i].Id%>" type="submit" class="btn btn-danger" onclick="deleteCategory(this.id)" data-toggle="modal" data-target=".bs-example-modal-lg2">Delete</button>                                                                        
                               </td>
                            </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        <% include ../layouts/footer %>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="width: 550px;margin: auto" id="modal">
      <div class="modal-dialog modal-lg" style="width: 550px;">
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title" id="">
        <p id="titleaction"></p>
      </h4>
      </div>

      <form id="mcategory" action="" method="">
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category-name">Category Name <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" id="category_name" name="category_name" required="required" class="form-control col-md-7 col-xs-12">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" hidden>
            <input type="number" id="creator_user" name="creator_user" required="required" class="form-control col-md-7 col-xs-12" value="<%=userid%>">
          </div>
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
      </div>
      </div>
    </div>

   
    <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-hidden="true" style="width: 450px;margin: auto" id="modal">
        <div class="modal-dialog modal-lg" style="width: 450px;">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="">
          Are you sure to delete this data ?
        </h4>
        </div>
        <form id="dcategory" action="" method="">
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Save</button>
        </div>
        </form>
        </div>
        </div>
      </div>
    <% include ../layouts/script %>

  </body>

<script>
  
  $('#btnadd').on('click',function(){
    $('#titleaction').html('<h1>Add Category</h1>');
    
    $('#mcategory').attr('action','/insertCategory');
    $('#mcategory').attr('method','POST');
  })
  
  function editCategory(id){
    $('#titleaction').html('<h1>Edit Category</h1>');
        //var id = $(this).attr('id');
        $('#mcategory').attr('action','/updateCategory/'+id);
        $('#mcategory').attr('method','PUT');
        $('#action').html(id);
        console.log('id', id);
        $.get('/detailCategory/'+id)
        .done(function(data){
            let response  = data;
            console.log('tes'+response);
            $('#category_name').val(data.Category_name);
        })
        $('#modal').modal('show');
  }

  function deleteCategory(id){
        //var id = $(this).attr('id'); 
        console.log('id', id);
        $('#dcategory').attr('action','/deleteCategory/'+id);
        $('#dcategory').attr('method','DELETE');

  }


</script>