
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../layouts/script %>
    <title>Resto Sistem | </title>

  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="formLogin" method="POST" action="signin" >
              <h1>Login Form</h1>
              <div>
                <input id="usernames" name="usernames" type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input id="passwords" name="passwords" type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <input type="submit" value="Log In" class="btn btn-default submit" >
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Dont Have Account?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form id="formRegister" method="POST" action="registeruser" onsubmit="return validasiPassword()">
              <h1>Create Account</h1>
              <div>
                <input id="username" name="username" type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <input id="password2" name="password2" type="password" class="form-control" placeholder="Konfirmasi Password" required="" />
              </div>
              <div >
                <input type="submit" value="Submit" class="btn btn-default submit" >
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function validasiPassword(event){
    var pass1 = $('#password').val();
    var pass2 = $('#password2').val();
    console.log("pas" + pass1 + " " + pass2)
    if(pass1 == pass2){
      $('#formRegister').submit();
    }else{
      alert('Password Doesn`t Match !');
      return false;
    }
  }
</script>
