<% include ../layouts/header %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include ../layouts/navigation %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Data Resep <small> Just add class <strong>menu_fixed</strong></small></h3>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        <% include ../layouts/footer %>
      </div>
    </div>
    <% include ../layouts/script %>
  </body>
</html> 